@use '../../../styles/variables';
@use '../../../styles/shared';

.planet {
	position: fixed;
	top: var(--planet-y, 2vh);
	left: var(--planet-x, 2vw);
	opacity: var(--planet-opacity, 0.25);
	transform-origin: center;
	animation: orbit linear infinite 500s;
	z-index: variables.z-index(basic);

	svg {
		height: 25vh;
		transform: scale(var(--planet-scale, 0.25));
		filter: drop-shadow(0 0 100px 10px rgba(#59c6f8, 0.5));
	}
}
