@use './shared';

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'DynaPuff', cursive;
}

html {
	@extend %hide-scrollbar;

	min-height: 750vh;
	background-image: linear-gradient(#150515, #0c0c0d);
}
