@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'DynaPuff', cursive;
}

html {
	min-height: 500vh;
	background-color: #000;
	// background-image: linear-gradient(#c5b9ad, #a2a2a4, #8597af, #5f7ca8, #355d8e, #134b7c);
}
