@use '../../styles/variables';
@use '../../styles/shared';

.ship {
	--ship-x: -50%;
	--ship-y: 0;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(var(--ship-x), var(--ship-y));
	z-index: variables.z-index(important);

	$steam-color: #f00, #ff8c00, rgba(#ffc400, 0.5), rgba(#ffee00, 0.25), #0000;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 25%;
		height: 500px;
		transform-origin: top;
		transform: translateX(-50%) scale(0);
		transition: transform ease 750ms;
		background-image: linear-gradient($steam-color);
		z-index: variables.z-index(negative);
	}

	&.flying {
		&::after {
			transform: translateX(-50%) scale(1, 1);
			animation: fly ease-in-out forwards 500ms 1s;
		}

		svg {
			animation: float ease infinite 1s;
		}
	}
}

@keyframes fly {
	to {
		transform: translateX(-50%) scale(1.25, 0.35);
		border-radius: 0 0 50% 50%;
	}
}
