.steam {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	&.visible {
		svg {
			opacity: 0.95;
			transform: translateY(0);
		}
	}

	&.hidden {
		svg {
			opacity: 0;
			transform: translateY(100%);
		}
	}

	svg {
		position: absolute;
		bottom: 0;
		height: 20vh;
		transform: translateY(100%);
		transition: transform ease 500ms;

		&:nth-child(1) {
			opacity: 0.5;
			left: 25%;
		}

		&:nth-child(2) {
			left: 0;
			opacity: 0.95;
			transition-delay: 150ms;
		}

		&:nth-child(3) {
			right: 0;
			opacity: 0.8;
			transition-delay: 75ms;
		}
	}
}
